<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <script src="./vue.js"></script>
  <title>VueJS</title>
</head>
<body>
  <div id="app">
    <p>Área Quadrado: {{lado * lado}}</p>
    <p>Perímetro Quadrado: {{lado * 4}}</p>
    <p>Curso Liberado: {{comprou ? 'Sim' : 'Não'}}</p>


    <p>Cliente Vitalício: {{comprou}}</p>
    <div v-if="comprou">
      <input v-model="color" type="color">
      <p v-bind:style="{backgroundColor: color}">Essa é a cor: {{color}}</p>
    </div>
  </div>
      
  <script>
    new Vue({
      el: "#app",
      data: {
        lado: 5,
        comprou: true,
        color: "#444",
      }
    });
  </script>
  
</body>
</html>