<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <script src="../vue.js"></script>
  <title>Exercicios Props</title>
</head>

<body>


  <div id="app">
    <componente-busca></componente-busca>
  </div>


  <script>
    const ComponenteResultado = {
      name: "ComponenteResultado",
      props: ["resultado"],
      template: `
        <div>
          <ul>
            <li style="font-weight: bold" v-for="value, key in resultado">{{key}}
            <p style="font-weight: normal">{{value}}</p>
            </li>
          </ul>
        </div>
      `
    }


    const ComponenteBusca = {
      name: "ComponenteBusca",
      data() {
        return {
          simbolo: "",
          resultado: false,
        }
      },
      methods: {
        getApi() {
          fetch(
              `https://cloud.iexapis.com/stable/stock/${this.simbolo}/quote?token=pk_f0e6665043424116944536eda0ba7186`
              )
            .then(r => r.json())
            .then(r => {
              this.resultado = r;
            })
        }
      },
      components: {
        ComponenteResultado
      },
      template: `
        <div>
          <input type="text" v-model="simbolo">
          <button @click="getApi">Pesquisar</button>
          <componente-resultado :resultado="resultado"></componente-resultado>
        </div>
      `
    }

    const vm = new Vue({
      el: "#app",
      components: {
        ComponenteBusca
      }
    });
  </script>
  <!-- 
    Crie um componente com um campo de input e um botão para enviar o valor.
    Nesse campo de input será possível escrever o simbolo de empresas americanas

    simbolos ex:
    aapl -> Apple
    goog -> Google
    msft -> Microsoft
    amzn -> Amazon
    fb -> Facebook

    Ao clicar no botão, faça um fetch com a API:
    https://api.iextrading.com/1.0/stock/${SIMBOLO}/quote

    O resultado do fetch deverá ser mostrado em um componente filho do formulário.
    Envia as informações utilizando prop
  
    Mostre todas as informações do fetch utilizando um loop.
  -->


</body>

</html>